@tailwind base;
@tailwind components;
@tailwind utilities;

.double-border-fancy {
  @apply relative;

  &::after, &::before {
    content: '';
    @apply absolute w-full h-full;
    @apply border-yellow-narges rounded-md;
  }

  &::before {
    @apply bottom-2 right-2;
    @apply border-t border-l;
  }

  &::after {
    @apply top-2 left-2;
    @apply border-r border-b;
  }

}